@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root{
  height: 100%;
}

@layer components {
  .text-primary{
    @apply text-[#375245]
  }
  .bg-primary{
    @apply bg-[#375245]
  }
  .border-primary{
    @apply border-[#375245]
  }
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }